.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}