body {
  background-color: #F4D35E !important;
  padding: 20px;
  margin: 0;
}

h1, h2, p, ul, li {
  font-family: sans-serif;
}

h1 {
  padding: 5px;
  text-align: center;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header {
  background-color: #111;
  padding: 0;
}

ul.header li a {
  color: #FFF;
  /* font-weight: bold; */
  text-decoration: none;
  padding: 15px;
  display: inline-block;
}

.content {
  background-color: #FFF;
  padding: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}